body{
    /* background-color: #00ffff00; */
}
.main-container{
    padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    float: left;
    margin: 5px 5px 5px 5px;
    text-align: center;
    transition: width 2s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 5px 8px 16px 0 rgba(52, 5, 105, 0.2);
    font-size: 16px;
}

.card:hover a {
    color:black;
    font-size: 16.5px;
}

.card-container{
display: flex;

}
.card-day{
    flex: 1;
    border-right: 1px ridge rgba(54, 54, 54, 0.33);
    font-size: 18px;
    background-color: #95a5a6;
    padding-top: 10px;

}

.card-day b {
 color: white;
}
.card-day p {
    font-size: 18px;
    font-weight: 900;
    color: white;
}
.card-day:hover b {
    color: black;
}
.card-day:hover p {
    color: black;
}
.card-body{
    flex: 2;
}

.container {
    padding: 2px 16px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto ;
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
    color: #551b8b;
}