body{
    /* background-color: #00ffff00; */
    font-family: 'Roboto', sans-serif;
}
.main-container{
    padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.43);
    transition: 0.3s;
    width: 30%;
    float: left;
    margin: 5px 5px 5px 5px;
    text-align: center;
    transition: width 2s;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 5px 8px 16px 0 rgba(0, 0, 0, 0.568);
    font-size: 16px;
    color:black;    
}

.card-container{
display: flex;
color: black;

}
.card-day{
    flex: 1;
    border-right: 1px ridge rgba(54, 54, 54, 0.13);
    font-size: 18px;
    background-color: #1976D2;
    padding-top: 10px;
    border-radius: 10px;

}

.card-day b {
 /* color: white; */
}
.card-day p {
    font-size: 18px;
    font-weight: 900;
    /* color: white; */
}

.card-body{
    flex: 2;
}

.container {
    padding: 2px 16px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto ;
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
    /* color: #551b8b; */
}